@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-content: center;
}
@mixin flexColumn {
	display: flex;
	flex-direction: column;
}
@mixin blackSVG {
	height: 100%;
	width: 100%;
	filter: brightness(0) saturate(100%);
}