@import './variables';
@import './mixins';
@import './main';
@import './pageList';
@import './pageDetail';
@font-face {
	font-family: 'LibreBaskerville';
	src: url('../fonts/LibreBaskerville-Regular.ttf');
}
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
	font-family: 'Yantramanav';
	src: url('../fonts/Yantramanav-Regular.ttf');
}
